<h1>All Powers</h1>

<ul>
  <% @powers.each do |power| %>
    <li>
      <%= link_to power.name, power %>
      <br>
      Description: <%= power.description %>
    </li>
    <br>
  <% end %>
</ul>
<br>
<%= button_to "All Heroines", heroines_path, method: :get %>   <%= button_to "New Power", new_power_path, method: :get %>
