<h1> CREATE A NEW POWER </h1>

<ul>
<%= form_for @power do |f| %>
  <li>Name: <%= f.text_field :name %></li>
  <li>Description: <%= f.text_field :description %></li>
  <%= f.submit "Create Power"  %></li>
<% end %>
</ul>
