<h1>Power info</h1>

<p>Power: <%= @power.name %></p>
<p>Description: <%= @power.description %></p>

<%= button_to("Index", powers_path, method: :get) %>

<br><%= button_to("Heroines", heroines_path, method: :get) %>
