<h1><%= @power.name %></h1>
<br>
<p>Description: <%= @power.description %></p>
<br>
<%= button_to "Edit Power", edit_power_path, method: :get %>
<%= button_to "Back to All Powers", powers_path, method: :get %>
