<h1>All Heroines</h1>
<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine %>
    </li>
    <br>
  <% end %>
</ul>
<br>
<%= button_to "All Powers", powers_path, method: :get %>   <%= button_to "New Heroine", new_heroine_path, method: :get %>
