<h1> HEROINE SHOW PAGE </h1>

<br />

<h2>Real Name: <%= @heroine.name %></h2>
<h3>Super-Name: <%= @heroine.super_name %></h3>
<h3>Power: <%= link_to @heroine_container.name, power_path(@heroine_container)%></h3>
