<h2>Heroine Show Page</h2>
<label>name:<%= @heroine.name %></label><br>
<label>super_name: <%= @heroine.super_name %></label><br>
<label>power: <%= link_to @heroine.power.name, @heroine.power %></label>
