body, a {
  font-family: 'Comic Sans MS', 'Helvetica', sans-serif;
  color: hotpink;
}

nav,h1,h2,h3 {
  text-align: center;
}

#filter {
  padding: 2vh;
  background: #eee;
  max-width: 500px;
  margin: auto;
}
